#wrapper{
  background-image: url('/images/wb-bg.png');
  min-height:800px;
}

#wrapper, #header,#footer{
  padding:5px;
}

#header{
	height:200px;
    text-align:center;
}

#menu{
	float:left;
	width:16%;
    padding:20px 0 20px 18px;
}

#menu li{
    list-style-type:none; 
}


#content{
	float:right;
	width:80%;
    padding:20px 28px 20px 11px;
    height:100%;

}

#footer{
  clear:both;
  text-align:center;
}
