#wrapper{
  background-image: url('/images/wb-bg2.png');
  min-height:800px;
}

#wrapper, #header,#footer{
  padding:5px;
}

#header{
    text-align:center;
}

.stickyLogo{
	margin:0 auto;
	background:#FEFEBA; 
	width:260px; 
	min-height:100px;
	padding:6px;
	/* Firefox */  
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);  
	/* Safari+Chrome */  
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
	/* Opera */  
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.stickyLogo p{
 /*   font-family: 'Yanone Kaffeesatz', serif;*/
	font-family: 'Neucha', serif;
	font-size:200%;
	color:#0F0F0F;
}

.logoTitle{
	padding-top:30px;
	font-family:"Reenie Beanie",arial,sans-serif;  
	color:#DD0000;
	font-size:600%;
}

#menu{
	float:left;
	width:10%;
    padding:20px 0 20px 18px;
}

.menuItem{
	text-decoration:none;
	font-family: 'Neucha', serif;
	font-size:180%;
	color:black;
    list-style-type:none; 
	text-align:center;
	background:#cfc; 
	width:40; 
	min-height:40px;
	padding-top:20px;
	margin:15px 0;
	/* Firefox */  
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);  
	/* Safari+Chrome */  
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
	/* Opera */  
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.menuItem:hover,.storySticky:focus{
	   -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);  
	   -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);  
	   box-shadow:10px 10px 7px rgba(0,0,0,.7);  
	   -webkit-transform: scale(1.0);  
	   -moz-transform: scale(1.0);  
	   -o-transform: scale(1.0);  
	   position:relative;  
	   z-index:5;
}

#content{
	float:right;
	width:84%;
    padding:20px 28px 20px 11px;
    height:100%;
	
}

#footer{
  clear:both;
  text-align:center;
}

/* Basic Style for the stickies*/
.storySticky{
	background:#FEFEBB; 
	width:250px; 
	padding:6px;
}

.storySticky h2{
	font-family: "Neucha";
	font-size:200%;
}

.storySticky p{
	font-family:"Reenie Beanie",arial,sans-serif;  
	font-size:180%;
}

/* Sticky Shadow property*/
.storySticky{
	/* Firefox */  
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);  
	/* Safari+Chrome */  
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
	/* Opera */  
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

/* Sticky Zoom effect*/
.storySticky:hover,.storySticky:focus{
	   -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);  
	   -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);  
	   box-shadow:10px 10px 7px rgba(0,0,0,.7);  
	   -webkit-transform: scale(1.15);  
	   -moz-transform: scale(1.15);  
	   -o-transform: scale(1.15);  
	   position:relative;  
	   z-index:5;
}
