<div class="fixedSizeContent">
<h1>About the XP Release Planning Game</h1>
  <p>An agile project management simulation inspired in <a href="http://kingsinsight.com/">James King</a>'s and <a href="http://philippe.kruchten.com/">Phillippe Kruchten</a>'s Agile Release Planning Game.</p>

  <p>The player must plan iterations aiming to meet the requirements and deliver the biggest amount of business value possible. </p>

  <p>More info on <a href="http://xprpg.albo.com.br/">http://xprpg.albo.com.br</a></p>
</div>