<h1>Sobre o XP Release Planning Game</h1>
<p>O XP RPG é uma simulação de gerenciamento de projetos ágeis inspirado no Agile Release Planning Game de <a href="http://kingsinsight.com/">James King</a> e <a href="http://philippe.kruchten.com/">Phillippe Kruchten</a>. O jogador deve planejar iterações de maneira a cumprir com os requisitos e entregar a maior quantidade de valor de negócio possível. Diversas variáveis influiram na velocidade do time, incluindo o débito técnico, e cabe ao jogador responder às mudanças da melhor maneira possível a fim de concluir o projeto.</p>

<p>Aluno: Gabriel Albo Trindade</p>
<p>Orientador: Prof. Dr. Rafael Prikladinicki</p>


<p>gabriel@albo.com.br</p>