<h1>Home</h1>
<br>
<h2>XP Release Planning Game</h2>

<p>Uma simulação de gerenciamento de projetos ágeis inspirado no Agile Release Planning Game de <a href="http://kingsinsight.com/">James King</a> e <a href="http://philippe.kruchten.com/">Phillippe Kruchten</a>.</p>

<p>Aluno: Gabriel Albo Trindade</p>
<p>Orientador: Prof. Dr. Rafael Prikladinicki</p>


<p>gabriel@albo.com.br</p>