<div class="fixedSizeContent">
<h1>XP Release Planning Game</h1>

<p>Uma simulação de gerenciamento de projetos ágeis inspirado no Agile Release Planning Game de <a href="http://kingsinsight.com/">James King</a> e <a href="http://philippe.kruchten.com/">Phillippe Kruchten</a>.</p>
</div>