<div class="fixedSizeContent">
<h1>Instructions</h1>
  <h2>Know your way around: How to play:</h2>

<p>You can start by clicking "Start Simulation" in the "Main" view. Check the story to know what must be done and take a look at the "Requirements" and the "Story" views to understand the scope of the project.</p>

<p>After you've gathered enough information, go to the "Iterations view and start moving stories around! To do so, click on the iterations dropdown in the story cards in the iterations index and click "update story" to confirm it.</p>

<p>When you think you're done - or, simply when you want some feedback - go to the "Main" view and click "Reports" to see how your planning looks like.</p>

 <h3></h3>
</div>