<!DOCTYPE html>
<html>
<head>
  <title>App01</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<style>
#wrapper{
	background:#EFEFCC;
}

#wrapper, #header, #menu, #content, #footer{
	border: solid 1px;
}

#header{
	height:100px;
}

#menu{
	float:left;
	width:18%;
}

#content{
	float:right;
	width:81%;
}

#footer{clear:both;}
</style>

</head>
<body>
<div id="wrapper">
	<div id="header"><%= yield %></div>
	<div id="menu">menu</div>
	<div id="content">content</div>
	<div id="footer">footer</div>
</div>
</body>
</html>
